.tree-inner {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 1260px;
  max-height: 814px;
  overflow: hidden;
  width: 100%;
  padding: 7rem 0 3rem 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tree-wrapper {
  position: relative;
  display: inline-block;
  overflow-x: hidden;
}
.tree-swag {
  pointer-events: none;
  position: absolute;
  display: none;
  flex-direction: column;
  row-gap: 8rem;
  top: 20%;
  left: 16%;
}
.tree-swag_on {
  display: flex;
}
.tree-swag-inner {
  display: inline-flex;
  justify-content: center;
  column-gap: 0.7rem;
}
.tree-swag-item {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation-name: swag;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
  box-shadow: 0px calc(30 / 6) calc(30 * 2) 3px rgba(0, 247, 165, 1);
}

.tree-swag-item_multy {
}
.tree-swag-item_multy:nth-child(odd) {
  background-color: rgb(24, 175, 69);
}
.tree-swag-item_multy:nth-child(even) {
  background-color: rgb(218, 206, 38);
}
.tree-swag-item_multy:nth-child(6n + 1) {
  background-color: rgb(216, 52, 52);
}
.tree-swag-item_multy:nth-child(4n + 1) {
  background-color: rgb(24, 26, 175);
}
.tree-swag-item_red {
  background-color: rgb(216, 52, 52);
}
.tree-swag-item_blue {
  background-color: rgb(24, 26, 175);
}
.tree-swag-item_yellow {
  background-color: rgb(218, 206, 38);
}
.tree-swag-item_green {
  background-color: rgb(24, 175, 69);
}

@keyframes swag {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
