*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 1rem 1rem;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("../../../assets//bg.jpg"); */
  background-color: rgb(3, 56, 80);
}

button {
  padding: 0;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
#root {
  position: relative;
  max-width: 100%;
  padding: 1rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem 2rem 1rem;
}
.footer__link {
  display: block;
  color: #25a0d1;
  font-size: italic;
  font-size: 2.2rem;
  line-height: 2.6rem;
}
.footer__text {
  color: #2b5f7e;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
