.toys-cards-inner {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  color: #fff;
  font-size: 2.7rem;
}
.toys__card {
  border: 2px solid rgb(171, 221, 33);
  padding: 2rem 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
.toys__card-inner {
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
}
.toys__card-img {
  width: 100%;
}
.toys__button {
  background-color: #4c40b8;
  font-size: 2.1rem;
  line-height: 2.5rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  color: rgb(223, 196, 77);
  letter-spacing: 0.2rem;
  font-style: italic;
  cursor: pointer;
}
.toys__card-img-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 15rem;
  flex-direction: column;
  row-gap: 2rem;
}
.toys__card_chosen {
  background-color: rgba(168, 0, 0, 0.6);
}
.toys__title {
  font-size: 2.6rem;
  color: rgb(43, 177, 110);
  margin-bottom: 1rem;
  font-style: italic;
}

.toys-text {
  padding: 0.8rem;
  font-size: 2rem;
  color: rgb(26, 207, 207);
  line-height: 2.2rem;
}
@media (max-width: 1500px) {
  .toys-cards-inner {
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.5rem;
  }
}
